@model ControlePatrimonio.Models.Produto

@{
    ViewBag.Title = "Delete";

   
}

<h2>Excluir</h2>

<h3>Certeza que deseja excluir este produto?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            Nota Fiscal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaFiscal)
        </dd>

        <dt>
            Tempo de garantia em meses
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoGarantia)
        </dd>

        <dt>
            Data aquisição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAquisicao)
        </dd>

        <dt>
            Observação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obsrvacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger btn-default" /> |
            @Html.ActionLink("Voltar para lista de produtos", "Index")
        </div>
    }
</div>
