@model IEnumerable<ControlePatrimonio.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Produto</h2>

<p>
    @Html.ActionLink("Adicionar novo produto", "Create")
</p>


@using (Html.BeginForm())
{

    <div class="row" style="margin-left: 650px;">
        <div class="col-lg-6">
            @Html.Editor("Search", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <input type="submit" value="Pesquisar" class="btn btn-primary btn-md" />
        <br />
    </div>

}
<br />


<table class="table">
    <tr>
        <th>
            Categoria
        </th>

        <th>
            Produto
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Categoria.TipoCategoria.ToUpper()
        </td>

        <td>
            @item.NomeProduto.ToUpper()
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
